* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: cursive;
}

#main {
  min-height: 100vh;
  width: 100%;
  background-color: #01091a;
  padding: 10px;
}

#appContainer {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  margin: 100px auto 240px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

#appContainer h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#appContainer h2 img {
  width: 30px;
  margin-left: 10px;
}

#inputBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px gray;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
  color: black;
  background-color: white;
  border-radius: 30px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: rgb(3, 69, 7);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border: 1px solid red;
  border-radius: 50%;
  /* background-image: url("./imgg.jpg");
    background-size: cover;
    background-position: center; */
  top: 18px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  /* background-image: url("./img2.jpg"); */
  background-color: red;
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 15px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: darkred;
  color: white;
}
